.card{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    background: cadetblue !important;
}


h1{

    text-align: center;
}

